* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 760px;
        padding: unset;
    }
}
@media (min-width: 992px) {
    .wrapper {
        max-width: 980px;
    }
}
@media (min-width: 1200px) {
    .wrapper {
        max-width: 1100px;
    }
}


.header-area {
    /* padding-block: 10px; */
    padding: 10px 0;
    /* padding-inline: ; */
    background-color: #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}
.navbar{
    position: relative;
}
.logo {
    width: 100px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800;
    /* background-color: yellow; */
    vertical-align: middle;
    /* text-transform: uppercase; */
}

.toggle-btn {
    display: inline-block;
    width: calc(100% - 100px);
    text-align: right;
    /* width: fit-content; */
    /* background-color: red; */
    font-size: 1.2rem;
    vertical-align: middle;
    cursor: pointer;
}
.toggle-btn .nav-show{
    display: none;
}
#toggle:checked ~ .toggle-btn .nav-hide{
    display: none;
}
#toggle:checked ~ .toggle-btn .nav-show{
    display: block;
}
.nav-menu{
    display: none;
    list-style: none;
    width: 100%;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    top: calc(100% + 10px);
    left: 0;
    padding: 15px 0;
}

.nav-menu li{
    padding: 10px 15px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.nav-menu li:last-child{
    border-bottom: none;
}
.nav-menu li a{
    text-decoration: none;
    color: black;
}

#toggle:checked ~ .nav-menu{
    display: block;
}

@media (min-width: 768px) {
    .toggle-btn{
        display: none;
    }
    .nav-menu{
        display: inline-block;
        position: static;
        width: calc(100% - 100px);

        box-shadow: unset;
        text-align: right;
        padding: unset;
    }
    .nav-menu li{
        display: inline-block;
        border-bottom: none;
        padding: unset;
        margin-left: 50px;
        font-weight: 600;
    }
}

/* travel section  */
.section-one{
    padding: 80px 0;
}
.half-width{
    display: inline-block;
    width: 50%;
    /* border: 2px solid green; */
    vertical-align: middle;
    
}
.half-width > *{
    margin-bottom: 20px;
}
.half-width h4{
    color:  #DF6951;
}
.half-width h1{
    color: #181E4B;
    font-size: 3.8rem;
}
.half-width p{
    color: #5E6282;
    text-align: justify;
}
.half-width div{
    margin-top: 30px;
}
.find-out-btn{
    padding: 10px;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    background-color: #F1A501;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
}
.fa-circle-play{
    font-size: 30px;
    vertical-align: middle;
    color: #DF6951;
    margin-right: 5px;
}
.half-width a{
    text-decoration: none;
    color:  #686D77;
}
.half-width img{
    width: 100%;
}

@media (max-width: 767px) {
    .half-width{
        display: block;
        width: 100%;
        text-align: center;
        /* vertical-align: unset; */
    }
    .half-width h1{
        text-align: center;
        font-size: 2.1rem;
    }
  
}

.section-two{
    margin-bottom: 100px;
}
.section-two h1, h6{
    text-align: center;
}
.section-two h6{
    color: #686D77;
}
.section-two h1{
    color: #14183E;
}
.card{
    display: inline-block;
    width: calc(100% / 3 - 20px);
    /* height: 200px; */
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    /* border: 2px solid red; */
    color: #5E6282;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 20px;
    margin-top: 40px;
}
.card:first-child{
    margin-left: 0;
}
.card:last-child{
    margin-right: 0;
}
.card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-title, .card-title ~ span{
    padding: 20px 10px;
}
.card-place-name, .card-money{
    display: inline-block;
    width: 50%;
    /* background-color: red; */
}
.card-money{
    text-align: right;
    font-weight: 600;
}
.fa-location-arrow{
    color: black;
}

@media (max-width: 767px) {
    .card{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
   
  
}

/* section three start  */
.section-three{
    margin-bottom: 100px;
}
.section-three-left, .section-three-right{
    display: inline-block;
    vertical-align: middle;
}
.section-three-left{
   width: 50%;
   /* border: 2px solid green; */
}
.section-three-right{
    width: 50%;
    /* border: 2px solid red; */
}
.section-three-left h5{
    text-align: left;
    color: #686D77;
    margin-bottom: 10px;
}
.part{
    margin-top: 20px;
}
.part-left{
    margin-right: 20px;
}
.part-left i{
    background-color: #F0BB1F;
    padding: 13px;
    border-radius: 13px;
    color: white;
}
.part-left, .part-right{
    display: inline-block;
    vertical-align: middle;
}
#icon-2{
    background-color: #F15A2B;
}
#icon-3{
    background-color: #006380;
}

.section-three-card{
    width: 80%;
    /* height: 400px; */
    /* border: 2px solid brown; */
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2), -2px -2px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 24px;
    position: relative;
}
.section-three-card img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
}
.section-three-card h3:nth-child(2){
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-three-card .inner-left span:first-child{
    display: inline-block;
    margin-bottom: 25px;
    color:#686D77;
}
.inner-left, .inner-right{
    display: inline-block;
    /* vertical-align: middle; */
}
.inner-right{
    /* width: 60%; */
    height: 50px;
    position: relative;
    border: 2px solid red;
}
.section-three-card .inner-left div:nth-child(3) span i{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 25px;
    color:#686D77;
}
.section-three-card span:last-child{
    color:#686D77;
}
.section-three-card span:last-child i{
    margin-right: 20px;
}

.inner-small-card{
    width: 200px;
    padding: 10px 10px;
    /* border: 2px solid red; */
    position: relative;
    top: -25px;
    right: -180px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2), -2px -2px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 20px;
}
.inner-small-card-left, .inner-small-card-right{
    display: inline-block;
    vertical-align: top;
}
.inner-small-card-right{
    width: calc(100% - 50px);
    margin-left: 10px;
}

.inner-left-icon, .inner-small-card{
    display: inline-block;
    vertical-align: middle;
}
.inner-small-card-left img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.inner-small-card-right h4, h5{
    margin-top: 5px;
}
.progress-bar-outer{
    margin-top: 10px;
    width: calc(100% - 10px);
    margin-right: 10px;
    height: 5px;
    background-color:  #F5F5F5;
    border-radius: 2px;
}
.progress-bar-inner{
    width: 50%;
    height: 5px;
    background-color: #8A79DF;
}